* {
	box-sizing: border-box;
	font-family: 'Arial';
	font-size: large;
	padding: 0;
	margin: 0;
}

body {
	background-color: rgba(50,50,50,1);
	width: 100%;
}

main {
	display: flex;
}

canvas {
	border: 0.2rem dashed white;
	border-radius: 1rem 1rem 0 0 ;
	flex-grow: 1;
	margin: 1rem 1rem 0 1rem;
}

.code-area {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 30%;
}

.compile-button{
	border: 0;
	border-radius: 0.5rem;
	box-shadow:
		0 0 1rem black,
		inset 0 0 0.2rem 0.1rem gray;
	margin: 1rem;
	padding: 0.5rem;
	width: fit-content;
	
	&:hover{
		box-shadow: none;
		background-color: gray;
	}
}

.input{
	width: 100%;
	flex-grow: 1;
	padding: 0.5rem;
}